[Unit]
Description=Pager
After=network.target

[Service]
Type=forking
LimitNOFILE=1000000
User={{user_name}}
Group={{user_name}}
Environment=HOME=/home/{{user_name}}
Environment=LANGUAGE=en_US:en
Environment=LS_ALL=en_US.UTF-8
Environment=ERL_MAX_PORTS=10240
Environment=ERL_MAX_ETS_TABLES=7000
{% for key, value in env_vars.items() %}
Environment={{key.upper()}}={{value}}
{% endfor %}

WorkingDirectory={{remote_pager_dir}}
ExecStart={{remote_pager_dir}}/bin/pager start
ExecStop={{remote_pager_dir}}/bin/pager stop
Restart=always
RestartSec=5
Environment=LANG=en_US.UTF-8
SyslogIdentifier=pager

[Install]
WantedBy=multi-user.target
